<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Open Cart Parallel Suite" verbose="1" parallel="classes" thread-count="5">
    <test name="Login Page Tests">
        <classes>
            <class name="com.selenium.runner.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->